﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="Login.aspx.cs" Inherits="Login" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
    <asp:Label ID= "lblPIN" Text="Login: " runat="server"></asp:Label>
<asp:TextBox ID="txtPIN" runat="server"></asp:TextBox>
<br />
<br />
<asp:Button ID="btnLogin" runat="server" onclick="btnLogin_Click" Text="Login"/>

<asp:Label ID= "lblFailed" Text="" runat="server"></asp:Label>

</asp:Content>

